body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6em;
}

.services-main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px;
}

.services-title {
    text-align: center;
    color: #002B5B;
    font-size: 2.5em;
    margin-bottom: 40px;
}

.service-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.service-bubble {
    background-color: #fff;
    color: #002B5B;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #002B5B;
    margin: 0 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.service-bubble:hover {
    background-color: #004080;
    color:#fff;
}

.service {
    background-color: #ffffff;
    border: 2px solid #002B5B;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 140px;
    line-height: 2em;
   
}



.service-title {
    color: #002B5B;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    padding-right: 40px;
}

.service-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.service-image {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service-image img {
    width: 75%;
    border-radius: 10px;
    border: 1px solid #ddd;
}
figure {
    display: table;
}
figcaption {
    display: table-caption;
    caption-side: top;
    text-align: left;
    color: #002B5B;
    font-weight: bold;
}

.service-text {
    flex: 1 1 55%;
    font-size: 1.2em;
    color: #002B5B;
    text-align: left;
}
.service a {
    background-color: #002B5B;
    display: inline-block;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 1.3em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.service a:hover {
    background-color: #004080;
    transform: scale(1.05);
}
@media (max-width: 768px) {
    .service-nav {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 80px;
    }

    .service-bubble {
        width: 50%;
        text-align: center;
    }
    .service{
        padding:15px;
    }
    .service-image img {
        width: 100%;
        align-items: center;
        border-radius: 10px;
        border: 1px solid #ddd;
    }
    figure {
        align-items: center;
        margin:0;
    }
}
